.blog{
    max-width:inherit;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.text-decorated{
    text-decoration: none;
    color: black;
}

.categories{
    max-width:inherit;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}